html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css */
.container{
  width: 1040px;
  margin: 0 auto;
}
header{
  background-color: rgb(10, 24, 153);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav a {
  color: aliceblue;
}
.hero{
  display: flex;
  padding: 35px 0;
}
.hero div{
  width: 50%;
}
.hero img{
  padding: 0 50px;
}
.hero h1{
  font-weight: bold;
  font-size: 24px;
  padding: 15px 0;
}
.col-2-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.col-2-3 div{
  width: 31.33%;
  margin: 10px 1%;
}
.col-2-3 img{
  width: 100%;
  object-fit: cover;
}
.footer{
  display: flex;
  justify-content: space-between;
}